.appContainer {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  text-align: center;
}

.teamContainer {
  display: inline-block;
  width: 80%;
}
.resultsContainer {
  display: inline-block;
  width: 60%;
}
.bottomContainer {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  text-align: center;
}
