.appContainer {
  display: inline-flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

.teamContainer {
  width: 40%;
  padding: 5%;
}
.resultsContainer {
  width: 40%;
  padding: 5%;
}
.bottomContainer {
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  text-align: center;
}
